<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ybj.project.dao.LogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ybj.project.model.Log">
        <result column="id" property="id" />
        <result column="username" property="username" />
        <result column="action_description" property="actionDescription" />
        <result column="class_name" property="className" />
        <result column="params" property="params" />
        <result column="ip" property="ip" />
        <result column="operate_time" property="operateTime" />
        <result column="nickname" property="nickname" />
        <result column="method_name" property="methodName" />
        <result column="operate_type" property="operateType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, action_description, class_name, params, ip, operate_time, nickname, method_name, operate_type
    </sql>

</mapper>
