<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atoz.capp.dao.CategoryTreeMapper" >
  <resultMap id="BaseResultMap" type="com.atoz.capp.model.CategoryTree" >
    <id column="OID" property="oid" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TREE_TYPE" property="treeType" jdbcType="DECIMAL" />
    <result column="PARENT_ID" property="parentId" jdbcType="DECIMAL" />
    <result column="SORT_ID" property="sortId" jdbcType="DECIMAL" />
    <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="DECIMAL" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    OID, NAME, TREE_TYPE, PARENT_ID, SORT_ID, CREATED_BY, CREATE_TIME, UPDATED_BY, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from TBL_CATEGORY
    where OID = #{oid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from TBL_CATEGORY
    where OID = #{oid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.atoz.capp.model.CategoryTree" >
    insert into TBL_CATEGORY (OID, NAME, TREE_TYPE, 
      PARENT_ID, SORT_ID, CREATED_BY, 
      CREATE_TIME, UPDATED_BY, UPDATE_TIME
      )
    values (#{oid,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{treeType,jdbcType=DECIMAL}, 
      #{parentId,jdbcType=DECIMAL}, #{sortId,jdbcType=DECIMAL}, #{createdBy,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=DECIMAL}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.atoz.capp.model.CategoryTree" >
    <selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="oid">  
   		SELECT TBL_CATEGORY_Sequence.nextval AS OID FROM DUAL  
   </selectKey>
    insert into TBL_CATEGORY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="oid != null" >
        OID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="treeType != null" >
        TREE_TYPE,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="sortId != null" >
        SORT_ID,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="oid != null" >
        #{oid,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="treeType != null" >
        #{treeType,jdbcType=DECIMAL},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=DECIMAL},
      </if>
      <if test="sortId != null" >
        #{sortId,jdbcType=DECIMAL},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.atoz.capp.model.CategoryTree" >
    update TBL_CATEGORY
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="treeType != null" >
        TREE_TYPE = #{treeType,jdbcType=DECIMAL},
      </if>
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=DECIMAL},
      </if>
      <if test="sortId != null" >
        SORT_ID = #{sortId,jdbcType=DECIMAL},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY = #{updatedBy,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where OID = #{oid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.atoz.capp.model.CategoryTree" >
    update TBL_CATEGORY
    set NAME = #{name,jdbcType=VARCHAR},
      TREE_TYPE = #{treeType,jdbcType=DECIMAL},
      PARENT_ID = #{parentId,jdbcType=DECIMAL},
      SORT_ID = #{sortId,jdbcType=DECIMAL},
      CREATED_BY = #{createdBy,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=DECIMAL},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where OID = #{oid,jdbcType=DECIMAL}
  </update>
  
   <select id="getCategoryByName" resultType="int" parameterType="java.util.HashMap"  >
    select count(*)
    from TBL_CATEGORY 
     where NAME = #{name,jdbcType=VARCHAR} and PARENT_ID = #{parentId,jdbcType=DECIMAL} and TREE_TYPE = #{treeType,jdbcType = VARCHAR}
  </select>
   
  <select id="getMaxSort" resultType="int" parameterType="java.util.HashMap"  >
    select count(*)
    from TBL_CATEGORY 
     where PARENT_ID = #{parentId,jdbcType=DECIMAL} and TREE_TYPE = #{treeType,jdbcType = VARCHAR}
  </select>
  
  <select id="getOldName" resultType="java.lang.String" parameterType="java.lang.Long"  >
    select NAME
    from TBL_CATEGORY 
     where OID = #{oid,jdbcType=DECIMAL} 
  </select>
  
  <select id="getCategoryByNameUpdate" resultType="int" parameterType="java.util.HashMap"  >
    select count(*)
    from TBL_CATEGORY 
     where NAME = #{name,jdbcType=VARCHAR} and NAME != #{oldName,jdbcType=VARCHAR} and PARENT_ID = #{parentId,jdbcType=DECIMAL} and TREE_TYPE = #{treeType,jdbcType = VARCHAR}
  </select>
  
  <select id="selectCataByParent" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select 
    <include refid="Base_Column_List" />
    from TBL_CATEGORY
    where PARENT_ID = #{oid,jdbcType=DECIMAL} and TREE_TYPE = #{treeType,jdbcType = VARCHAR}
    order by SORT_ID
  </select>
  
  <select id="getType" resultType="java.lang.String" parameterType="java.lang.Long" >
    select ListAgg(to_char(NAME),'|') WITHIN GROUP(ORDER BY lev desc) type 
    from (select a.*, level lev from TBL_CATEGORY a 
    		start with a.OID = #{oid,jdbcType=DECIMAL}
    		connect by prior a.PARENT_ID = a.OID)
    where lev <![CDATA[<=]]> 3
  </select>
  
</mapper>