<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atoz.capp.dao.LogMapper" >
  <resultMap id="BaseResultMap" type="com.atoz.capp.model.Log" >
    <result column="AS_ID" property="id" jdbcType="VARCHAR" />
    <result column="AS_BUSSINESS" property="bussiness" jdbcType="DECIMAL" />
    <result column="AS_KIND" property="kind" jdbcType="VARCHAR" />
    <result column="AS_ACTION" property="action" jdbcType="VARCHAR" />
    <result column="AS_REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="AS_CREATOR" property="creator" jdbcType="VARCHAR" />
    <result column="AS_CREATETIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="AS_MODULE" property="module" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.atoz.capp.model.Log" >
    insert into AS_LOG (AS_ID, AS_SYSTEM, AS_BUSSINESS, 
      AS_KIND, AS_ACTION, AS_REMARK, 
      AS_CREATOR, AS_CREATETIME, AS_MODULE)
    values (#{id,jdbcType=VARCHAR}, #{system,jdbcType=VARCHAR}, #{asBussiness,jdbcType=DECIMAL},
      #{asKind,jdbcType=VARCHAR}, #{action,jdbcType=VARCHAR}, #{asRemark,jdbcType=VARCHAR},
      #{asCreator,jdbcType=VARCHAR}, #{asCreatetime,jdbcType=TIMESTAMP}, #{asModule,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.atoz.capp.model.Log" >
    insert into AS_LOG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        AS_ID,
      </if>
      <if test="system != null" >
        AS_SYSTEM,
      </if>
      <if test="asBussiness != null" >
        AS_BUSSINESS,
      </if>
      <if test="asKind != null" >
        AS_KIND,
      </if>
      <if test="action != null" >
        AS_ACTION,
      </if>
      <if test="asRemark != null" >
        AS_REMARK,
      </if>
      <if test="asCreator != null" >
        AS_CREATOR,
      </if>
      <if test="asCreatetime != null" >
        AS_CREATETIME,
      </if>
      <if test="asModule != null" >
        AS_MODULE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="system != null" >
        #{system,jdbcType=VARCHAR},
      </if>
      <if test="bussiness != null" >
        #{bussiness,jdbcType=DECIMAL},
      </if>
      <if test="kind != null" >
        #{kind,jdbcType=VARCHAR},
      </if>
      <if test="action != null" >
        #{action,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="module != null" >
        #{module,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
   <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from AS_LOG where AS_ID = #{id,jdbcType=VARCHAR}
   </delete>
</mapper>