<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atoz.capp.dao.TemplateAttrMapper">
  <resultMap id="BaseResultMap" type="com.atoz.capp.model.TemplateAttr">
    <id column="OID" jdbcType="DECIMAL" property="oid" />
    <result column="ATTR_NAME" jdbcType="VARCHAR" property="attrName" />
    <result column="ATTR_SORT" jdbcType="DECIMAL" property="attrSort" />
    <result column="ATTR_TYPE" jdbcType="DECIMAL" property="attrType" />
    <result column="ATTR_DEFAULT_VALUE" jdbcType="VARCHAR" property="attrDefaultValue" />
    <result column="ATTR_TAG" jdbcType="DECIMAL" property="attrTag" />
    <result column="MBD_TEMPLATE" jdbcType="DECIMAL" property="mbdTemplate" />
    <result column="CREATED_BY" jdbcType="DECIMAL" property="createdBy" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATED_BY" jdbcType="DECIMAL" property="updatedBy" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="IS_MULTIPLE" jdbcType="DECIMAL" property="isMultiple" />
    <result column="ATTR_TYPE_NAME" jdbcType="VARCHAR" property="attrTypeName" />
    <result column="IS_MULTIPLE_NAME" jdbcType="VARCHAR" property="isMultipleName" />
  </resultMap>
  <sql id="Base_Column_List">
    OID, ATTR_NAME,  ATTR_SORT, ATTR_TYPE, ATTR_DEFAULT_VALUE, 
    ATTR_TAG, MBD_TEMPLATE, CREATED_BY, CREATE_TIME, UPDATED_BY, UPDATE_TIME, IS_MULTIPLE 
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TBL_TEMPLATE_ATTR
    where OID = #{oid,jdbcType=DECIMAL}
  </select>
  
   <select id="selectByTemplateId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    
    select 
    	OID, ATTR_NAME, A ATTR_SORT, 
    	decode(ATTR_TYPE,'0','文字类','1','数字类') ATTR_TYPE_NAME,
    	nvl(ATTR_DEFAULT_VALUE,' '),
    	ATTR_TAG, MBD_TEMPLATE,
    	decode(IS_MULTIPLE,'0','否','1','是') IS_MULTIPLE_NAME
    from TBL_TEMPLATE_ATTR
    where MBD_TEMPLATE = #{templateId,jdbcType=DECIMAL}
    order by ATTR_SORT
  </select>
  
  
  <select id="selectByTagId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    
    select 
    	OID, ATTR_NAME, ATTR_SORT, 
    	decode(ATTR_TYPE,'0','文字类','1','数字类') ATTR_TYPE_NAME,
    	ATTR_TYPE,nvl(ATTR_DEFAULT_VALUE,' ') as ATTR_DEFAULT_VALUE, 
    	ATTR_TAG, MBD_TEMPLATE,
    	decode(IS_MULTIPLE,'0','否','1','是') IS_MULTIPLE_NAME,
    	IS_MULTIPLE,
    	CREATED_BY, CREATE_TIME, UPDATED_BY, UPDATE_TIME
    from TBL_TEMPLATE_ATTR
    where ATTR_TAG = #{oid,jdbcType=DECIMAL}
    order by ATTR_SORT
<!--      desc -->
  </select>
  
  <select id="getMaxSort" resultType="java.lang.Integer" parameterType="java.lang.Long" >
    select MAX(ATTR_SORT)
    from TBL_TEMPLATE_ATTR
    where ATTR_TAG = #{attrTag,jdbcType=DECIMAL}
  </select>
  
  <select id="selectByAttrName" resultType="java.lang.Integer" parameterType="java.util.HashMap" >
    select count(*)
    from TBL_TEMPLATE_ATTR
    where ATTR_NAME = #{attrName,jdbcType=VARCHAR} and ATTR_TAG = #{attrTag,jdbcType=DECIMAL} and OID!=#{oid,jdbcType=DECIMAL}
  </select>
  
  <select id="checkNameExits" resultType="java.lang.Integer" parameterType="java.util.HashMap" >
    select count(*)
    from TBL_TEMPLATE_ATTR
    where ATTR_NAME = #{attrName,jdbcType=VARCHAR} and ATTR_TAG = #{attrTag,jdbcType=DECIMAL}
  </select>
 
  <select id="selectBySort" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select 
    <include refid="Base_Column_List" />
    from TBL_TEMPLATE_ATTR
    where ATTR_TAG = #{attrTag,jdbcType=DECIMAL} and ATTR_SORT = #{sort,jdbcType=DECIMAL}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from TBL_TEMPLATE_ATTR
    where OID = #{oid,jdbcType=DECIMAL}
  </delete>
  
  <delete id="deleteByMBDId" parameterType="java.lang.Long">
    delete from TBL_TEMPLATE_ATTR
    where MBD_TEMPLATE = #{oid,jdbcType=DECIMAL}
  </delete>
  
  <delete id="deleteByTagId" parameterType="java.lang.Long">
    delete from TBL_TEMPLATE_ATTR
    where ATTR_TAG = #{oid,jdbcType=DECIMAL}
  </delete>
  
  
  <insert id="insert" parameterType="com.atoz.capp.model.TemplateAttr">
    insert into TBL_TEMPLATE_ATTR (OID, ATTR_NAME, ,
      ATTR_SORT, ATTR_TYPE, ATTR_DEFAULT_VALUE, 
      ATTR_TAG, MBD_TEMPLATE, 
      CREATED_BY, CREATE_TIME, UPDATED_BY, 
      UPDATE_TIME, IS_MULTIPLE
      )
    values (#{oid,jdbcType=DECIMAL}, #{attrName,jdbcType=VARCHAR},  
      #{attrSort,jdbcType=DECIMAL}, #{attrType,jdbcType=DECIMAL}, #{attrDefaultValue,jdbcType=VARCHAR}, 
      #{attrTag,jdbcType=DECIMAL}, #{mbdTemplate,jdbcType=DECIMAL}, 
      #{createdBy,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=DECIMAL}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{isMultiple,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.atoz.capp.model.TemplateAttr">
    <selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="oid">  
   		SELECT TBL_TEMPLATE_ATTR_Sequence.nextval AS OID FROM DUAL  
   </selectKey>
    insert into TBL_TEMPLATE_ATTR
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        OID,
      </if>
      <if test="attrName != null">
        ATTR_NAME,
      </if>
      <if test="attrSort != null">
        ATTR_SORT,
      </if>
      <if test="attrType != null">
        ATTR_TYPE,
      </if>
      <if test="attrDefaultValue != null">
        ATTR_DEFAULT_VALUE,
      </if>
      <if test="attrTag != null">
        ATTR_TAG,
      </if>
      <if test="mbdTemplate != null">
        MBD_TEMPLATE,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updatedBy != null">
        UPDATED_BY,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="isMultiple != null">
        IS_MULTIPLE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=DECIMAL},
      </if>
      <if test="attrName != null">
        #{attrName,jdbcType=VARCHAR},
      </if>
      <if test="attrSort != null">
        #{attrSort,jdbcType=DECIMAL},
      </if>
      <if test="attrType != null">
        #{attrType,jdbcType=DECIMAL},
      </if>
      <if test="attrDefaultValue != null">
        #{attrDefaultValue,jdbcType=VARCHAR},
      </if>
      <if test="attrTag != null">
        #{attrTag,jdbcType=DECIMAL},
      </if>
      <if test="mbdTemplate != null">
        #{mbdTemplate,jdbcType=DECIMAL},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isMultiple != null">
        #{isMultiple,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.atoz.capp.model.TemplateAttr">
    update TBL_TEMPLATE_ATTR
    <set>
      <if test="attrName != null">
        ATTR_NAME = #{attrName,jdbcType=VARCHAR},
      </if>
      <if test="attrSort != null">
        ATTR_SORT = #{attrSort,jdbcType=DECIMAL},
      </if>
      <if test="attrType != null">
        ATTR_TYPE = #{attrType,jdbcType=DECIMAL},
      </if>
      <if test="attrDefaultValue != null">
        ATTR_DEFAULT_VALUE = #{attrDefaultValue,jdbcType=VARCHAR},
      </if>
      <if test="attrTag != null">
        ATTR_TAG = #{attrTag,jdbcType=DECIMAL},
      </if>
      <if test="mbdTemplate != null">
        MBD_TEMPLATE = #{mbdTemplate,jdbcType=DECIMAL},
      </if>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        UPDATED_BY = #{updatedBy,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isMultiple != null">
        IS_MULTIPLE = #{isMultiple,jdbcType=DECIMAL}
      </if>
    </set>
    where OID = #{oid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.atoz.capp.model.TemplateAttr">
    update TBL_TEMPLATE_ATTR
    set ATTR_NAME = #{attrName,jdbcType=VARCHAR},
      ATTR_SORT = #{attrSort,jdbcType=DECIMAL},
      ATTR_TYPE = #{attrType,jdbcType=DECIMAL},
      ATTR_DEFAULT_VALUE = #{attrDefaultValue,jdbcType=VARCHAR},
      ATTR_TAG = #{attrTag,jdbcType=DECIMAL},
      MBD_TEMPLATE = #{mbdTemplate,jdbcType=DECIMAL},
      CREATED_BY = #{createdBy,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=DECIMAL},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      IS_MULTIPLE = #{isMultiple,jdbcType=DECIMAL}
    where OID = #{oid,jdbcType=DECIMAL}
  </update>
  
</mapper>