<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atoz.capp.dao.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.atoz.capp.model.UserRole" >
    <id column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <id column="ROLE_ID" property="roleId" jdbcType="DECIMAL" />
  </resultMap>


</mapper>