<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atoz.capp.dao.LogDetailMapper" >
  <resultMap id="BaseResultMap" type="com.atoz.capp.model.LogDetail" >
    <result column="AS_ID" property="asId" jdbcType="VARCHAR" />
    <result column="AS_KEY" property="asKey" jdbcType="VARCHAR" />
    <result column="AS_VALUE" property="asValue" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.atoz.capp.model.LogDetail" >
    insert into AS_LOGDETAIL (AS_ID, AS_KEY, AS_VALUE
      )
    values (#{asId,jdbcType=VARCHAR}, #{asKey,jdbcType=VARCHAR}, #{asValue,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.atoz.capp.model.LogDetail" >
    insert into AS_LOGDETAIL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="asId != null" >
        AS_ID,
      </if>
      <if test="asKey != null" >
        AS_KEY,
      </if>
      <if test="asValue != null" >
        AS_VALUE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="asId != null" >
        #{asId,jdbcType=VARCHAR},
      </if>
      <if test="asKey != null" >
        #{asKey,jdbcType=VARCHAR},
      </if>
      <if test="asValue != null" >
        #{asValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
   <delete id="deleteByPrimaryKey" parameterType="java.lang.String">delete from AS_LOGDETAIL where AS_ID = #{id,jdbcType=VARCHAR}</delete>
</mapper>