<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atoz.capp.dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.atoz.capp.model.Role" >
    <id column="OID" property="oid" jdbcType="DECIMAL" />
    <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
    <result column="ROLE_NO" property="roleNo" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="DECIMAL" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="CREATED_USER" property="createdUser" jdbcType="VARCHAR" />
    <result column="UPDATED_USER" property="updatedUser" jdbcType="VARCHAR" />
     <collection property="rolePermission" ofType="com.atoz.capp.model.RolePermission">
			<id column="ROLE_ID" property="roleId" jdbcType="DECIMAL" />
            <id column="PERMISSION_ID" property="permissionId" jdbcType="DECIMAL" />
			<result column="PERMISSION_NAME" property="permissionName" jdbcType="VARCHAR" />
	</collection>
  </resultMap>
  <sql id="Base_Column_List" >
    OID, ROLE_NAME, ROLE_NO, REMARK, CREATED_BY, CREATE_TIME, UPDATED_BY, UPDATE_TIME
  </sql>


</mapper>